<main>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Adresse:</h2>
          <p>Gabi und Joachim Vogler</p>
          <p>Kornau 24</p>
          <p>87561 Oberstdorf</p>
        </div>
        <div class="col-md-6">
          <h2>Kontakt:</h2>
          <p>Tel: (08322) 4903</p>
          <p>Email: <a href="mailto:info@gaestehaus-vogler.de">info@gaestehaus-vogler.de</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Websites:</h2>
          <ul>
            <li><a href="https://www.gaestehaus-vogler.de/index.html" target="_blank">Ferienwohnungen Gabi und Joachim Vogler</a></li>
            <li><a href="https://www.holzschnitzer-peter-vogler.de/" target="_blank">Holschnitzer Peter Vogler</a></li>
          </ul>
        </div>

      </div>
    </div>
  </main>
  