<section class="center1">
  <section class="center">
    <div>
      <h1>Bewertungen:</h1>
      <p>Wir würden uns freuen, wenn Sie Ihre Erfahrungen mit unserer Ferienwohnung teilen würden! Ihre Bewertungen helfen uns dabei, unseren Service stetig zu verbessern. Bitte nehmen Sie sich einen Moment Zeit, um Ihre ehrliche Meinung auf einer der folgenden Plattformen zu hinterlassen:</p>
    </div>
  </section>
  <section class="center1">
    <div>
      <ul class="center2">
        <li><a href="https://www.google.de/maps/place/G%C3%A4stehaus+Gabi+und+Joachim+Vogler+Ferienwohnungen+in+Kornau+bei+Oberstdorf/@47.4054805,10.2418512,15z/data=!4m6!3m5!1s0x479c9b8b5e17e291:0x4fca7e2386b9a204!8m2!3d47.4054805!4d10.2418512!16s%2Fg%2F1tf7wpvm?hl=de&entry=ttu" target="_blank">Google.de</a></li>
        <li><a href="https://www.oberstdorf.de/partner/gaestehaus-vogler.html#detail-rating-tramino" target="_blank">Oberstdorf.de</a></li>
        <li><a href="https://gaestehaus-vogler.tramino.de/bewertungen.html" target="_blank">Tramino.de</a></li>
      </ul>
    </div>
  </section>
</section>
