<div class="center">
  <h1>Herzlich willkommen im Gästehaus Vogler!</h1>
  <section>
    
    <h2>Unser Haus</h2>
    <img src="assets\BildHausCaport.jpg" alt="Unser Haus">
    <p>Unser Haus liegt in Kornau, auf der "Sonnenterrasse" drei Kilometer oberhalb von Oberstdorf (in Richtung Kleines Walsertal) auf 915 m Höhe.</p>
  </section>

  <section>
    <h2>Ferienwohnungen</h2>
    <img src="assets\Betten.jpg" alt="Ferienwohnungen">
    <p>Wir vermieten 2 gemütliche und sehr gepflegte 3***Ferienwohnungen zwischen 55m² und 60m² für 2-4 Personen. Die FW sind im Landhausstil mit hellen Bauernmöbeln gemütlich eingerichtet. Wohn- u. Schlafzimmer sind getrennt (2-3 Raum). Brötchenservice und Wlan auf Wunsch.</p>
  </section>

  <section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <h3>Lage</h3>
    <img src="assets\aussicht.jpg" alt="Lage">
    <p>Herrliche Lage mit Wiesen und Feldern sowie Panoramabergblick. Ruhe und Entspannung genießen, bei uns werden Sie sich richtig erholen.</p>
    <button (click)="openGoogleMaps()" class="google-maps-button" style="background-color: #007BFF; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;"> <i class="fas fa-arrow-right"></i> Anfahrt <i class="fas fa-arrow-left"></i></button>
  </section>

  <section>
    <h4>Aktivitäten</h4>
    <img src="assets\Winterbild.jpg">
    <p>Nicht weit entfernt befindet sich die Söllereckbahn, ein familienfreundliches Wander– u. Skigebiet, zu Fuß in 10 Minuten erreichbar. Direkt am Haus beginnt der Wanderweg nach Tiefenbach und zur wildromantischen Breitachklamm. Die nächste Bushaltestelle ist ca. 10 min. entfernt und fährt im 15 min. Takt nach Oberstdorf oder ins Walsertal.</p>
  </section>

  <section>
    <h5>Ihr Urlaub liegt uns am Herzen</h5>
    <p>Ihre Zufriedenheit und Ihr Urlaub liegen uns am Herzen! Auf Ihren Besuch freut sich Familie Vogler.</p>
  </section>
</div>