.nav-tabs .nav-link {
    padding: 10px 20px;
    border-radius: 0;
    border-color: transparent;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #f8f9fa;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  
  .nav-tabs .nav-link:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer
  }